<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polaroid1947 - Sonrie</title>
	<link rel="shortcut icon" href="../img/logo2.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav class="flex-container">
		<a href="../index.html">
		<img class="cuerpo__imagen--sm" src="../img/logo.png" alt="logo de polaroid1947 sonrie">
		</a>
		<ul class="nav__list">
			<li>
				<a href="productos.html">Productos</a>
			</li>
			<li>
				<a href="quienessomos.html">Quienes Somos</a>
			</li>
			<li>
				<a href="galeria.html">Galeria</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	<header>
		<h1>Descuentos del mes</h1>
	</header>
	<!-- ends nav -->
	<main>
		<section>
			<h2>No te pierdas estas ofertas!</h2>
				<table>
			<div class="container">
				<div class="texto">
					<img src="../img/5.jpg" alt="1">	
					<label class="label1" for="fotos-instax">Fotos Instax</label>
					<p class="tachado">$200</p>
					<p>$100</p>
					<input class="imp" type="checkbox" id="fotos-instax" value="Fotos-Instax">
				</div>
				<div class="texto">
					<img src="../img/2.jpg" alt="2">
					<label for="fotos-polaroid">Fotos Polaroid</label>
					<p class="tachado">$200</p>
					<p>$100</p>
					<input type="checkbox" id="fotos-polaroid" value="Fotos-Polaroid">
				</div>
				<div class="texto">
					<img src="../img/3.jpg" alt="3">
					<label for="fotos10x15">Fotos 10x15</label>
					<p class="tachado">$200</p>
					<p>$100</p>
					<input type="checkbox" id="fotos10x15" value="Fotos-10x15">
				</div>
			</div>
		</section>
		<!-- ends form -->
        <section></section>
        <!-- ends map -->
	</main>
    <footer class="abajo">
		<h2>Seguinos en nuestras redes</h2>
		<a href="https://www.facebook.com/Polaroid1947" target="_blank">
			<img class="facebook" src="../img/facebook.png" alt="facebook de polaroid1947">
		</a>
		<a href="https://www.instagram.com/polaroid1947/" target="_blank">
			<img class="instagram" src="../img/instagram.png" alt="instagram de polaroid1947">
		</a>
    </footer>
</body>
</html>