<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polaroid1947 - Sonrie</title>
	<link rel="shortcut icon" href="../img/logo2.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
	<nav class="flex-container">
		<a href="../index.html">
		<img class="cuerpo__imagen--sm" src="../img/logo.png" alt="logo de polaroid1947 sonrie">
		</a>
		<ul class="nav__list">
			<li>
				<a href="productos.html">Productos</a>
			</li>
			<li>
				<a href="descuentos.html">Descuentos</a>
			</li>
			<li>
				<a href="quienessomos.html">Quienes Somos</a>
			</li>
		</ul>
	</nav>
</header>
	<!-- ends nav -->
	<main>
        <section class="fotos">
			<article class="galeria">
				<div class="img-a">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
				<div class="img-b">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
				<div class="img-c">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
				<div class="img-d">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
				<div class="img-e">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
				<div class="img-f">
					<div class="capa">
						<img src="../img/logo.png" alt="">
					</div>
				</div>
			</article>
		    </section>
	</main>
    <footer class="abajo">
		<h2>Seguinos en nuestras redes</h2>
		<a href="https://www.facebook.com/Polaroid1947" target="_blank">
			<img class="facebook" src="../img/facebook.png" alt="facebook de polaroid1947">
		</a>
		<a href="https://www.instagram.com/polaroid1947/" target="_blank">
			<img class="instagram" src="../img/instagram.png" alt="instagram de polaroid1947">
		</a>
    </footer>
</body>
</html>