<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polaroid1947 - Sonrie</title>
	<link rel="shortcut icon" href="../img/logo2.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav class="flex-container">
		<a href="../index.html">
		<img class="cuerpo__imagen--sm" src="../img/logo.png" alt="logo de polaroid1947 sonrie">
		</a>
		<ul class="nav__list">
			<li>
				<a href="descuentos.html">Descuentos</a>
			</li>
			<li>
				<a href="quienessomos.html">Quienes Somos</a>
			</li>
			<li>
				<a href="galeria.html">Galeria</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	<header>
	</header>
	<!-- ends nav -->
	<main>
		<section>
			<h2>Productos</h2>
				<table>
					<div class="container">
				<div class="texto">
					<img src="../img/5.jpg" alt="fotos-instax">	
					<label class="label1" for="fotos-instax">Fotos Instax</label>
					<p>$200</p>
					<input class="imp" type="checkbox" id="fotos-instax" value="Fotos-Instax">
				</div>
				<div class="texto">
					<img src="../img/7.jpg" alt="fotos-polaroid">
					<label for="fotos-polaroid">Fotos Polaroid</label>
					<p>$200</p>
					<input type="checkbox" id="fotos-polaroid" value="Fotos-Polaroid">
				</div>
				<div class="texto">
					<img src="../img/3.jpg" alt="Fotos-10x15">
					<label for="fotos10x15">Fotos 10x15</label>
					<p>$200</p>
					<input type="checkbox" id="fotos10x15" value="Fotos-10x15">
				</div>
				<div class="texto">
					<img src="../img/4.jpg" alt="Fotos-20x30">
					<label for="fotos20x30">Fotos 20x30</label>
					<p>$200</p>
					<input type="checkbox" id="fotos20x30" value="Fotos-20x30">
				</div>
				<div class="texto">
					<img src="../img/1.jpg" alt="foto-iman-polaroid">
					<label for="foto-iman-polaroid">Foto iman polaroid</label>
					<p>$200</p>
					<input type="checkbox" id="foto-iman-polaroid" value="Fotos-iman-polaroid">
				</div>
				<div class="texto">
					<img src="../img/6.jpg" alt="6">
					<label for="foto-iman-polaroid">Foto iman polaroid</label>
					<p>$200</p>
					<input type="checkbox" id="foto-iman-polaroid" value="Fotos-iman-polaroid">
				</div>
				<div class="texto">
					<img src="../img/7.jpg" alt="7">
					<label for="foto-iman-10x15">Foto iman 10x15</label>
					<p>$200</p>
					<input type="checkbox" id="foto-iman-10x15" value="Fotos-iman-10x15">
				</div>
					</div>
					
				</table>	
				<div>	
					<legend class="leyenda" >Envios</legend>
					<label for="tienda">Retirar en el domicilio del vendedor</label>
					<input type="radio" id="tienda" value="tienda" name="envio">
					<label for="domicilio">Envio a domicilio</label>
					<input type="radio" id="domicilio" value="domicilio" name="envio">
				</div>
		</section>
		<!-- ends form -->
        <section></section>
        <!-- ends map -->
	</main>
    <footer class="abajo">
		<h2>Seguinos en nuestras redes</h2>
		<a href="https://www.facebook.com/Polaroid1947" target="_blank">
			<img class="facebook" src="../img/facebook.png" alt="facebook de polaroid1947">
		</a>
		<a href="https://www.instagram.com/polaroid1947/" target="_blank">
			<img class="instagram" src="../img/instagram.png" alt="instagram de polaroid1947">
		</a>
	</footer>
</body>
</html>