<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Polaroid1947 - Sonrie</title>
	<link rel="shortcut icon" href="../img/logo2.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
		<nav class="flex-container">
			<a href="../index.html">
			<img class="cuerpo__imagen--sm" src="../img/logo.png" alt="logo de polaroid1947 sonrie">
			</a>
			<ul class="nav__list">
				<li>
					<a href="productos.html">Productos</a>
				</li>
				<li>
					<a href="descuentos.html">Descuentos</a>
				</li>
				<li>
					<a href="galeria.html">Galeria</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- ends nav -->
	<main>
		<section>
			<article>
			<h1>Nosotros</h1>
			<p>Polaroid1947 es un servicio de impresión de fotos, simple y de calidad.</p>
			<h2>Nuestra Historia</h2>
			<p>Hola, les queriamos contar como comenzo todo.</p>
			<p>En marzo del año 2015 ingreso como empleado en una casa de fotos muy conocida en el pais y en el exterior <span class="text-alert">(Kodak)</span>, me sumergi en el mundo de la fotografia y en ello encontre algo hermoso e increible.
			Aprendi muchas cosas que antes no comprendia y despues de 3 años decidi abrir un emprendimiento de fotos estilo polaroid y aqui nos encontramos, ofreciendole la mejor calidad de papel y estilo para ustedes, haciendo de sus momentos nuestras queridas fotos polaroid.</p>
			<p>El nombre de mi pagina se baso en el año que se crea la primera polaroid land camera en el año 1947. Fue la primera camara instantanea
			que al capturar la imagen salia impresa y en cuestion de segundos se empezaba a plasmar en el papel.
			</p>
			</article>
		</section>
			
		<!-- ends form -->
        
        <!-- ends map -->
	</main>
<footer class="abajo">
		<h2>Seguinos en nuestras redes</h2>
		<a href="https://www.facebook.com/Polaroid1947" target="_blank">
			<img class="facebook" src="../img/facebook.png" alt="facebook de polaroid1947">
		</a>
		<a href="https://www.instagram.com/polaroid1947/" target="_blank">
			<img class="instagram" src="../img/instagram.png" alt="instagram de polaroid1947">
		</a>
	</footer>
</body>
</html>